.al{
    background-color: black;
    border-radius:  5px  5px;
    color: white;
}

.ba{
    border: 2px #FF8225;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background-color: #FF8225;
    z-index: 2; 
}

.ba:active{
    border: 2px #FF8225;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background-color: #FF8225;
    z-index: 2; 
}

.ba:hover{

 color: #FF8225;
    background-color: white;
}